<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./includes/head.ejs') %>
</head>

<body>
  <a href="#main" class="skip-link">Skip to main content</a>
  <%- include('./includes/header.ejs') %>
  <%- include('./includes/main.ejs') %>
  <script src="scripts/main.ts" type="module"></script>
  <%- include('./includes/footer.ejs') %>
</body>

</html>